/Player.class
/GameServerClient.class
/message.class
/Message.class
/FlagLocations.class
/Locations.class
/PlayerLocation.class
/PlayerStats.class
/Stats.class
/Home.class
/noDefend.class
/OtherPlayes.class
/OtherPlayes$otherPlaer.class
/OtherPlayers.class
/otherPlaer.class
/OtherPlayer.class
